$primary: #0696CD;
$btn-color: #176492;
$warning: #F7B817;
$price: #E65225;
$warningHover: darken( $warning, 5% );
$warningBorder:#eea236;
$statusSuccess: #91BF3E;
$borderColor: #DBDBDB;
$pophover: #f7f7f7;
$statusNew: #0696CD;
$statusPending: #F7B817;
$statusAccept: #4db1f3;
$statusReject: #B6B6B6;
$statusSomeCancel: #E65225;
$statusAllCancel: #B40007;
$statusPacked: rgb(90, 90, 90);
$statusDone: #91BF3E;
$statusWaiting: #f5cf06;
