@import '~/globalStyles/color.scss';
@import '~/globalStyles/responsive.scss';
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
// @import "~/assets/fontface/RSU/regular/fonts.css";
// @import "~/assets/fontface/RSU/bold/fonts.css";
// @import "~/assets/fontface/RSU/light/fonts.css";
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar { 
  display: none; 
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  // font-family: 'Bai Jamjuree', sans-serif !important;
  font-family: 'RSU_Regular', sans-serif !important;
}

h1, h2, h3, h4, h5{
  font-family: 'RSU_Bold'!important;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

#__nuxt, #__layout {
  height: 100%;
}

html,body{
  margin:0;
  height: 100%;
  .adminLayout {
    position: relative;
    .main-content{
      display: flex;
    }
  }
}

// .btn {
//     padding: 4px 15px;
// }

.lightbox__image{
  img {
    width: 40% !important;
  }
}

.lightbox__close {
  top: 10% !important;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: $pophover;
}
.row {
  margin-right: 0 !important;
}
.path {
  font-size: 15px;
  a {
    // text-decoration: none;
    color: #000;
  }
}

.table-order-wrapper {
  margin-bottom: 14px;
  @include respond-to($tablet) {
    overflow-x: auto;
  }
}

.table-orders {
  width: 100%;
  .border-left-top-radius {
      border-top-left-radius: 0.7rem;
      border: 0;
  }
  .border-right-top-radius {
      border-top-right-radius: 0.7rem;
      border: 0;
  }
  th {
      background-color: #0696cd;
      height: 45.33px;
      color: #fff;
      font-size: 14px;
      font-weight: 100;
      text-align: center;
      border: 1px solid #DBDBDB;
      border-top: 0;
      padding: 12px;
  }
  tr:nth-child(odd) {
      background-color: #f2f2f2;
  }
  td {
      border: 1px solid #DBDBDB;
      border-bottom: 2px solid #dee2e6;
      text-align: center;
      padding: 12px;
      .cancel-text{
        color: $statusAllCancel;
      }
  }
  .text-left {
      text-align: left;
  }
}

.table-responsive {
  border-radius: 0.7rem;
}

.table {
  border: 1px solid $borderColor;
  text-align: left;
  td {
    border: 1px solid $borderColor;
    .img {
      width: 116px;
    }
  }
  th {
    vertical-align: middle !important;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    background-color: $btn-color;
    border: 1px solid $borderColor;
    font-size: 0.875rem;
  }
}

.pl-0 {
  @include respond-to($tablet) {
    // padding-left: 15px !important;
  }
}

.px-0 {
  @include respond-to($tablet) {
    padding-left: 15px !important;
  }
}

.line-bg-primary{
  border-color: #d3d3d3;
}

.btn {
  @include respond-to($size900){
    width: 100%;    
    margin: 0.2em 0 !important;
  }
}

.loading{
  position: fixed;
  z-index: 5000;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  .img-loading{
    width: 100px;
    height: auto;
    opacity: 1;
    position: absolute;
    left:50%;
    top:50%;
    @include respond-to($tablet) {
      left:45%;
      top:45%;
    }
    @include respond-to($mobile) {
      left:40%;
      top:40%;
    }
  }
}

.primary-blue {
  color: #176492;
}
.primary-blue-sub {
  color: #062442;
}

.secondary-blue {
  color: #0696CD;
}

.primary-price {
  color: $price;
}

.text-reject {
  color: #B6B6B6;
}

.btn-warning {
  color: #fff;
  background-color: $warning;
  border-color: $warningBorder;

  &:hover {
    background-color: #fff;
    border-color: $warningBorder;
    color: $warning;
  }
}

.btn-confirm {
  color: #fff;
  background-color: $statusSuccess;
  border-color: $statusSuccess;
  height: 40px !important;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 2;
  border-radius: 0.2rem;
  border: 1px solid;
  cursor: pointer;
  &:hover {
      color: $statusSuccess;
      background-color: #fff; 
      border-color: $statusSuccess;
  }
  @include respond-to($size900) {
    width: 100%;
    // margin: 0.2em 0 !important;
    text-align: center;
  }
}

.btn-delete {
  color: #fff;
  background-color: $statusDone;
  border-color: $statusDone;
  height: 40px !important;
  padding: 0.25rem 1.2rem;
  font-size: 0.875rem;
  line-height: 2;
  border-radius: 0.2rem;
  border: 1px solid;
  cursor: pointer;
  &:hover {
      color: $statusDone;
      background-color: #fff; 
      border-color: $statusDone;
  }
  @include respond-to($size900) {
    width: 100%;
    // margin: 0.2em 0 !important;
    text-align: center;
  }
}

.btn-search {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  height: 40px !important;
  padding: 0.25rem 1.2rem;
  font-size: 0.875rem;
  line-height: 2;
  border-radius: 0.2rem;
  border: 1px solid;
  cursor: pointer;
  &:hover {
      color: $primary;
      background-color: #fff; 
      border-color: $primary;
  }
}
.btn-reset{
  background-color: #B6B6B6;
  border: solid 1px #B6B6B6;
  color: #fff;
  height: 40px !important;
  border-radius: 0.2rem;
  &:hover {
      background-color: #fff; 
      color:#B6B6B6;
  } 
}

.btn-print-wrapper {
  background-color: #ffffff;
  border-color: #122547;
  color: #fff;
  &:hover {
    background-color: #122547;
    .btn-print{
      color: #fff;
    }
  }
}

.btn-success {
  width: 114px;
  // @include respond-to($size425) {
  //   width: 100%;  
  // }
}

.btn-print {
  padding-left: 0;
  color: #122547;
  &:hover {
    color: #ffffff;
  }
  .text {
    i {
      padding-right: 5px;
      font-size: 18px; 
    }
    p {
      float: right;
      margin-bottom: 0;
    }
  }
  @media (max-width: 900px) {
    .text {
      display: flex;
      justify-content: center;
    }
  }
}

.btn-error {
  color: #fff;
  background-color: $statusAllCancel;
  &:hover {
    background-color: #fff;
    color: $statusAllCancel;
    border: 1px solid $statusAllCancel;
    transition: 0.5s ease-in-out;
  }
}

.px-4 {
  padding-right: 2.44rem !important;
}

.p-content {
  // padding-right: 2.44rem !important;
  padding: 1rem 2.44rem 1.5rem 1.5rem !important;
  @include respond-to($tablet) {
    padding-right: 24px !important;
  }
}

.btn-table-warpper {
  // display: flex;
  // justify-content: space-around;
  .add, .delete {
    cursor: pointer;
    display: inline;
    margin: 0 5px;
  }
}

.paginate-margin{
    margin-top:3em;
}

.clear-both {
    clear: both !important;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.header-page {
  font-size: 1rem;
  font-weight: bolder;
  padding-bottom: 1rem;
}

.header-table {
  margin: 8px 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  .btn-print {
      display: flex;
      p {
          padding: 0px 5px ;
      }
      @include respond-to($size1199) {
          justify-content: center;
      }
  }
  @include respond-to($size900){
      display: block;
  }
}

.btn-footer-warpper {
  justify-content: center;
  padding-top: 16px;
  display: flex;
  .btn-reject {
      color: $statusReject;
      background-color: #ffffff;
      border-color: $statusReject;
      &:hover {
          color: #ffffff;
          background-color: $statusReject;
      }
  }
  .btn-confirm {
    width: 120px;
    color: #fff !important;
    text-align: center;
    &:hover {
      color: $statusDone !important;
      background-color: #fff;
    }
    @include respond-to($size1199) {
      width: auto;
    }
  }
  @include respond-to($size900) {
    display: flex;
    flex-direction: column;
  }
}

.status-border {
  // margin: auto;
  color: #fff;
  border-radius: 1rem;
  height: 100%;
  text-align: center;
  font-size: 0.875rem;
  padding: 4px 6px;
}


$colors-list:(
    new: $statusNew,
    done: $statusDone,
    waiting: $statusWaiting,
    pending: $statusPending,
    accept: $statusAccept,
    reject: $statusReject,
    packed: $statusPacked,
    cn-approve: $statusSuccess,
    cn-some-cancel: $statusSomeCancel,
    cn-all-cancel: $statusAllCancel,
  );

@each $key,$var in $colors-list {
  .bg-#{$key} {
    background: $var;
  }
};

.table-detail {
  span {
      display: block;
  }
  span:after {
      content: ',';
  }
  span:last-child:after {
      content: '';
  }
}

.search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  padding: 0;

  .input-search {
      width: 400px;
      margin-right: 14px;
  }

  .btn {
      margin: 0 !important;
  }

  @include respond-to($tablet) {
      .input-search {
          width: 100%;
          margin-bottom: 8px;
      }
      display: block;
  }
}

// Tao SCSS
.calculator-form{
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
}
.product-form{
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  @include respond-to($tablet){
    width: 150px;
  }
}

// Tao SCSS

label {
  margin: 0;
}
//clear col padding
$class: col-;
$grid-size: (xs-, sm-, md-, lg-, xl-);
@for $i from 0 to length($grid-size) {
   $classname: #{$class}#{nth(($grid-size), $i+1)};
   @for $j from 1 to 12 {
       .#{$classname}#{$j} {
          //  padding-right: 0 !important;
       }
   }
}
.status-unread {
  background-color: rgb(255, 255, 255) !important;
}
.status-read {
  background-color: rgb(185, 182, 182) !important;
}